@{
    ViewBag.Title = "InfoClientes | .Net";
}

<div class="jumbotron tituloFormulario" style="padding-top:20%" >
    <h1>Prueba Arlington Vargas</h1>
    <p class="lead">.Net | AngularJs | Entity Framework</p>
</div>